body{
	margin: 0;
	font-family: helvetica;
}

h1,h2,h3,h4,h5,h6, p, a{
	font-family: helvetica;
}

.main-content{
	padding-top: 50px;
	display: inline-block;
}
.videoDisplay{
	float: left;
}
.videoList{
	list-style-type: none;
	padding-left: 60%;
}
